[tool.poetry]
name = "focus-spec-validator"
version = "0.5.0"
description = "FOCUS spec validator."
authors = []
readme = "README.md"
packages = [{ include = "focus_validator" }]
include = [
    { path = "focus_validator/rules/version_sets/0.5/*", format = ["sdist", "wheel"] }
]

[tool.poetry.dependencies]
python = "^3.8.3 || 3.12"
pandas = "^2"
tabulate = "*"
pyarrow = "*"
pydantic = "^2"
python-magic = "*"
pyyaml = "*"
requests = "*"
# pandera next release supports pydantic, need to revert back to once available
pandera = { git = "https://github.com/unionai-oss/pandera", branch = "main" }

# for Python 3.12, force higher version of numpy
numpy = [
    {version = "~1.24", python = "~3.8"},
    {version = "~1.26", python = "~3.12"}
]
pytz = "^2023.3.post1"

[tool.poetry.group.dev.dependencies]
black = { extras = ["d"], version = "^23.7.0" }
polyfactory = "^2.7.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
mypy = "^1.4.1"
types-setuptools = "^68.0.0.3"
types-tabulate = "^0.9.0.3"
pandas-stubs = "^2.0.2.230605"
types-pyyaml = "^6.0.12.11"
types-requests = "^2.31.0.2"
# pandera next release supports pydantic, need to revert back to once available
pandera = { extras = ["mypy"], git = "https://github.com/unionai-oss/pandera", branch = "main" }
isort = "^5.12.0"
flake8 = "^6.1.0"
pre-commit = "^3.3.3"
bump2version = "^1.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
focus-validator = "focus_validator.main:main"
